* {
  margin: 0px;
  padding: 0px;
}

body {
  height: 100vh;
  background-color: #c2edda;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

a:visited {
  color: black;
}

a {
  color: black;
}

@font-face {
  font-family: "roboto";
  src: url(fonte/Roboto_Mono/RobotoMono-Italic-VariableFont_wght.ttf);
}

@font-face {
  font-family: "chivo";
  src: url(fonte/Chivo_Mono/ChivoMono-Italic-VariableFont_wght.ttf);
}

.sobreMimProjetos3 {
  display: none;
}
/* MOBILE 320PX */
@media (min-width: 320px) {
  .icon-logo {
    font-size: 55px;
    padding: 15px;
    margin-left: 20px;
  }

  .menu-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
  }

  .menu-btn_burger {
    width: 40px;
    height: 6px;
    background: black;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
  }

  .menu-btn_burger::before,
  .menu-btn_burger::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 6px;
    background: black;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
  }

  .menu-btn_burger::before {
    transform: translateY(-16px);
  }
  .menu-btn_burger::after {
    transform: translateY(16px);
  }

  /* animação */

  .menu-btn.open .menu-btn_burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
  }

  .menu-btn.open .menu-btn_burger::before {
    transform: rotate(45deg) translate(35px, -35px);
  }

  .menu-btn.open .menu-btn_burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }

  /* fim do hamburger */

  .icon-logo-aba-aberta {
    font-size: 40px;
    padding: 15px;
    margin-bottom: 50px;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .sobre {
    display: flex;
    list-style: none;
    display: flex;
    gap: 15px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-right: -5px;
  }

  .sobreMim {
    margin-right: 18px;
    font-family: "chivo";
  }

  .sobreMim:hover {
    color: rgb(29, 29, 124);
    font-weight: bolder;
    transition: all 0.5s;
  }

  .botaoProjeto {
    padding: 10px;
    margin-right: 18px;
    border-radius: 6px;
    border: none;
    background-color: black;
    color: white;
    font-family: "chivo";
  }

  .botaoProjeto:hover {
    background-color: rgb(43, 41, 41);
    transition: 0.2s;
  }

  .sobreMimProjetos1,
  .sobreMimProjetos2,
  .sobreMimBotaoEscape {
    display: none;
  }

  .esconder {
    display: none;
  }

  .aberturaConteudo {
    margin-top: 50px;
  }
  .conteudo-titulo {
    font-size: 25px;
    font-family: "chivo";
    text-align: center;
    font-weight: normal;
  }

  .conteudo-apresentacao-div {
    display: flex;
    justify-content: center;
  }

  .conteudo-apresentacao {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: "chivo";
    text-align: center;
    max-width: 250px;
  }

  .imagem-principal {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
  .imagem-computador {
    width: 170px;
    border-radius: 50px;
  }

  .segunda-imagem {
    display: flex;
    justify-content: center;
  }
  .imagem-sub-principal {
    width: 320px;
    height: 180px;
    margin-top: 60px;
    border-radius: 10px;
    margin-bottom: -8px;
  }

  .sobreMinhaJornada {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to right, rgb(1, 1, 17), rgb(2, 2, 66));
    padding: 20px;
  }

  .conteudo-titulo2 {
    font-size: 25px;
    font-family: "roboto";
    text-align: center;
    color: white;
    font-weight: bolder;
    margin-bottom: 25px;
  }

  .conteudo-apresentacao2 {
    max-width: 300px;
    font-size: 20px;
    line-height: 30px;
    font-family: "chivo";
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }

  .habilidades {
    margin-top: 50px;
    padding: 20px;
    display: grid;
    grid-template-columns: 1, 1fr;
    justify-content: center;
    text-align: center;
  }

  .habilidade-frontend {
    font-size: 50px;
    text-align: center;
    background-color: white;
    padding: 5px;
  }

  .linguagens {
    margin-top: 20px;
  }

  .conteudo-titulo3 {
    text-align: center;
    font-size: 25px;
    font-weight: normal;
    font-family: "chivo";
    margin-bottom: 30px;
    margin: auto;
    width: 250px;
    margin-bottom: 30px;
  }

  .conteudo-apresentacao3 {
    text-align: center;
    font-size: 20px;
    font-family: "chivo";
    margin-top: 20px;
    margin-bottom: 30px;
    font-weight: normal;
  }

  .icone-tec {
    text-align: center;
    font-size: 50px;
  }

  .html-div {
    height: 250px;
    min-width: 220px;
    line-height: 30px;
    text-align: center;
  }
  .css-div {
    height: 250px;
    min-width: 220px;
    line-height: 30px;
    margin-bottom: 100px;
    text-align: center;
  }
  .javascript-div {
    margin-top: 30px;
    min-width: 250px;
    line-height: 30px;
  }

  .conteudo-projetos {
    display: grid;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .explicando-projeto {
    margin-top: 40px;
    margin-bottom: 40px;
    font-family: "chivo";
    font-size: 15px;
    width: 300px;
    text-align: center;
  }

  .footer-container {
    margin-top: 100px;
  }

  .adivinhe-img {
    width: 280px;
  }

  .previsao-img {
    width: 300px;
    border: 1px solid black;
  }

  .adivinhe-img:hover {
    opacity: 0.5;
    transition: 0.5s;
    cursor: pointer;
  }

  .previsao-img:hover {
    opacity: 0.5;
    transition: 0.5s;
    cursor: pointer;
  }

  .link-jogar:hover {
    color: rgb(30, 30, 202);
    cursor: pointer;
    text-decoration: underline;
  }

  .conteudo-titulo4 {
    font-size: 60px;
    text-align: center;
  }

  .finalizando {
    font-family: "chivo";
    font-size: 20px;
    margin-top: 20px;
    padding: 40px;
    margin-bottom: 50px;
  }
  .sobreMim {
    border-bottom: 2px solid black;
  }

  .sobre {
    width: 120px;
  }
}

/* MOBILE 480PX */
@media (min-width: 480px) {
  .icon-logo {
    font-size: 55px;
    padding: 15px;
  }

  .icon-logo-aba-aberta {
    font-size: 40px;
    padding: 15px;
    margin-bottom: 50px;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .sobre {
    margin-top: 10px;
    display: flex;
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .sobreMim {
    margin-right: 18px;
    font-family: "chivo";
  }

  .sobreMim:hover {
    color: rgb(29, 29, 124);
    font-weight: bolder;
    transition: all 0.5s;
  }

  .botaoProjeto {
    padding: 10px;
    margin-right: 18px;
    border-radius: 6px;
    border: none;
    background-color: black;
    color: white;
    font-family: "chivo";
  }

  .botaoProjeto:hover {
    background-color: rgb(43, 41, 41);
    transition: 0.2s;
  }

  .hamburger,
  .escape {
    font-size: 30px;
    margin-right: 20px;
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .sobreMimProjetos1,
  .sobreMimProjetos2,
  .sobreMimBotaoEscape {
    display: none;
  }

  .esconder {
    display: none;
  }

  .aberturaConteudo {
    margin-top: 50px;
  }
  .conteudo-titulo {
    font-size: 25px;
    font-family: "chivo";
    text-align: center;
    font-weight: normal;
  }

  .conteudo-apresentacao-div {
    display: flex;
    justify-content: center;
  }

  .conteudo-apresentacao {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: "chivo";
    text-align: center;
    max-width: 250px;
  }

  .imagem-principal {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
  .imagem-computador {
    width: 170px;
    border-radius: 50px;
  }

  .segunda-imagem {
    display: flex;
    justify-content: center;
  }
  .imagem-sub-principal {
    width: 350px;
    height: 200px;
    margin-top: 60px;
    border-radius: 10px;
    margin-bottom: -8px;
  }

  .sobreMinhaJornada {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to right, rgb(1, 1, 17), rgb(2, 2, 66));
    padding: 20px;
  }

  .conteudo-titulo2 {
    font-size: 25px;
    font-family: "chivo";
    text-align: center;
    color: white;
    font-weight: bolder;
  }

  .conteudo-apresentacao2 {
    max-width: 350px;
    font-size: 25px;
    line-height: 30px;
    font-family: "chivo";
    text-align: center;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }

  .habilidades {
    margin-top: 50px;
    padding: 20px;
  }

  .habilidade-frontend {
    font-size: 50px;
    text-align: center;
    background-color: white;
    padding: 5px;
  }

  .linguagens {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    min-width: 400px;
  }

  .conteudo-titulo3 {
    text-align: center;
    font-size: 25px;
    font-weight: normal;
    font-family: "chivo";
    margin-bottom: 30px;
    min-width: 400px;
  }

  .conteudo-apresentacao3 {
    text-align: center;
    font-size: 25px;
    font-family: "chivo";
    margin-top: 20px;
    margin-bottom: 30px;
    font-weight: normal;
    padding: 10px;
  }

  .conteudo-projetos {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .explicando-projeto {
    margin-top: 40px;
    margin-bottom: 40px;
    font-family: "chivo";
    font-size: 20px;
    min-width: 480px;
  }

  .icone-tec {
    text-align: center;
    font-size: 50px;
  }

  .html-div {
    text-align: center;
    min-width: 480px;
    line-height: 30px;
  }
  .css-div {
    text-align: center;
    min-width: 480px;
    line-height: 30px;
    margin-bottom: 80px;
  }
  .javascript-div {
    text-align: center;
    margin-top: 20px;
    min-width: 480px;
    line-height: 30px;
    margin-bottom: 100px;
  }

  .footer-container {
    margin-top: 80px;
  }

  .adivinhe-img {
    width: 300px;
  }

  .previsao-img {
    width: 300px;
    border: 1px solid black;
  }

  .adivinhe-img:hover {
    opacity: 0.5;
    transition: 0.5s;
    cursor: pointer;
  }

  .previsao-img:hover {
    opacity: 0.5;
    transition: 0.5s;
    cursor: pointer;
  }

  .link-jogar:hover {
    color: rgb(30, 30, 202);
    cursor: pointer;
    text-decoration: underline;
  }

  .conteudo-titulo4 {
    font-size: 60px;
    text-align: center;
  }

  .finalizando {
    font-family: "roboto";
    font-size: 20px;
    margin-top: 20px;
    padding: 40px;
    margin-bottom: 50px;
  }
  .menu-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
  }

  .menu-btn_burger {
    width: 50px;
    height: 6px;
    background: black;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
  }

  .menu-btn_burger::before,
  .menu-btn_burger::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 6px;
    background: black;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
  }

  .menu-btn_burger::before {
    transform: translateY(-16px);
  }
  .menu-btn_burger::after {
    transform: translateY(16px);
  }

  /* animação */

  .menu-btn.open .menu-btn_burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
  }

  .menu-btn.open .menu-btn_burger::before {
    transform: rotate(45deg) translate(35px, -35px);
  }

  .menu-btn.open .menu-btn_burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }
  .sobreMim {
    border-bottom: 2px solid black;
  }

  .sobre {
    width: 110px;
  }
}

/* 600PX RESOLUTION */

@media (min-width: 600px) {
  .icon-logo {
    font-size: 60px;
    padding: 15px;
  }

  .icon-logo-aba-aberta {
    font-size: 80px;
    padding: 15px;
    margin-bottom: 50px;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .sobre {
    margin-top: 10px;
    display: flex;
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .sobreMim {
    margin-right: 18px;
    font-family: "chivo";
    font-size: 20px;
  }

  .sobreMim:hover {
    color: rgb(29, 29, 124);
    font-weight: bolder;
    transition: all 0.5s;
  }

  .botaoProjeto {
    padding: 10px;
    margin-right: 18px;
    border-radius: 6px;
    border: none;
    background-color: black;
    color: white;
    font-family: "chivo";
  }

  .botaoProjeto:hover {
    background-color: rgb(43, 41, 41);
    transition: 0.5s;
  }

  .hamburger,
  .escape {
    font-size: 50px;
    margin-right: 20px;
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .sobreMimProjetos1,
  .sobreMimProjetos2,
  .sobreMimBotaoEscape {
    display: none;
  }

  .esconder {
    display: none;
  }

  .aberturaConteudo {
    margin-top: 50px;
  }
  .conteudo-titulo {
    font-size: 30px;
    font-family: "chivo";
    text-align: center;
    font-weight: normal;
  }

  .conteudo-apresentacao-div {
    display: flex;
    justify-content: center;
  }

  .conteudo-apresentacao {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: "chivo";
    text-align: center;
    max-width: 500px;
  }

  .imagem-principal {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
  .imagem-computador {
    margin-top: 50px;
    width: 170px;
    border-radius: 50px;
  }

  .segunda-imagem {
    display: flex;
    justify-content: center;
  }
  .imagem-sub-principal {
    width: 500px;
    height: 300px;
    margin-top: 90px;
    border-radius: 10px;
    margin-bottom: -8px;
  }

  .sobreMinhaJornada {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to right, rgb(1, 1, 17), rgb(2, 2, 66));
    padding: 40px;
  }

  .conteudo-titulo2 {
    font-size: 30px;
    font-family: "chivo";
    text-align: center;
    color: white;
    font-weight: bolder;
  }

  .conteudo-apresentacao2 {
    min-width: 500px;
    font-size: 30px;
    line-height: 40px;
    font-family: "chivo";
    text-align: center;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }

  .habilidades {
    margin-top: 50px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 120px;
  }

  .habilidade-frontend {
    font-size: 60px;
    text-align: center;
    background-color: white;
    padding: 5px;
  }

  .linguagens {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .conteudo-titulo3 {
    text-align: center;
    font-size: 30px;
    font-weight: normal;
    font-family: "chivo";
    margin-bottom: 30px;
    min-width: 500px;
  }

  .explicando-projeto {
    margin-top: 40px;
    margin-bottom: 40px;
    font-family: "chivo";
    font-size: 22px;
    min-width: 500px;
  }

  .conteudo-apresentacao3 {
    text-align: center;
    font-size: 30px;
    font-family: "chivo";
    margin-top: 30px;
    margin-bottom: 40px;
    font-weight: normal;
  }

  .icone-tec {
    text-align: center;
    font-size: 50px;
  }

  .html-div {
    height: 250px;
    min-width: 600px;
    line-height: 30px;
  }
  .css-div {
    height: 250px;
    min-width: 400px;
    line-height: 30px;
    margin-bottom: 90px;
  }
  .javascript-div {
    margin-top: 20px;
    min-width: 400px;
    line-height: 30px;
    margin-bottom: 100px;
  }

  .footer-container {
    margin-top: 100px;
  }

  .adivinhe-img {
    width: 400px;
  }

  .previsao-img {
    width: 400px;
    border: 1px solid black;
  }

  .adivinhe-img:hover {
    opacity: 0.5;
    transition: 0.5s;
    cursor: pointer;
  }

  .previsao-img:hover {
    opacity: 0.5;
    transition: 0.5s;
    cursor: pointer;
  }

  .link-jogar:hover {
    color: rgb(30, 30, 202);
    cursor: pointer;
    text-decoration: underline;
  }

  .conteudo-titulo4 {
    font-size: 60px;
    text-align: center;
  }

  .finalizando {
    font-family: "chivo";
    font-size: 20px;
    margin-top: 20px;
    padding: 40px;
    margin-bottom: 50px;
  }
  .menu-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
  }

  .menu-btn_burger {
    width: 50px;
    height: 6px;
    background: black;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
  }

  .menu-btn_burger::before,
  .menu-btn_burger::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 6px;
    background: black;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
  }

  .menu-btn_burger::before {
    transform: translateY(-16px);
  }
  .menu-btn_burger::after {
    transform: translateY(16px);
  }

  /* animação */

  .menu-btn.open .menu-btn_burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
  }

  .menu-btn.open .menu-btn_burger::before {
    transform: rotate(45deg) translate(35px, -35px);
  }

  .menu-btn.open .menu-btn_burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }
  .sobreMim {
    border-bottom: 2px solid black;
  }

  .sobre {
    width: 130px;
  }
}

/* 800 pixel resolution */

@media (min-width: 801px) {
  .icon-logo {
    font-size: 60px;
    padding: 15px;
    margin-left: 50px;
  }

  .icon-logo-aba-aberta {
    font-size: 80px;
    padding: 15px;
    margin-bottom: 50px;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .sobre {
    margin-top: 10px;
    display: flex;
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .sobreMim {
    margin-right: 18px;
    font-family: "chivo";
    font-size: 30px;
  }

  .sobreMim:hover {
    color: rgb(29, 29, 124);
    font-weight: bolder;
    transition: all 0.5s;
  }

  .botaoProjeto {
    padding: 10px;
    margin-right: 18px;
    border-radius: 6px;
    border: none;
    background-color: black;
    color: white;
    font-family: "chivo";
  }

  .botaoProjeto:hover {
    background-color: rgb(43, 41, 41);
    transition: 0.5s;
  }

  .hamburger,
  .escape {
    font-size: 50px;
    margin-right: 20px;
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .sobreMimProjetos1,
  .sobreMimProjetos2,
  .sobreMimBotaoEscape {
    display: none;
  }

  .esconder {
    display: none;
  }

  .aberturaConteudo {
    margin-top: 50px;
  }
  .conteudo-titulo {
    font-size: 40px;
    font-family: "chivo";
    text-align: center;
    font-weight: normal;
  }

  .conteudo-apresentacao-div {
    display: flex;
    justify-content: center;
  }

  .conteudo-apresentacao {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: "chivo";
    text-align: center;
    min-width: 700px;
  }

  .imagem-principal {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
  .imagem-computador {
    margin-top: 50px;
    width: 200px;
    border-radius: 50px;
  }

  .segunda-imagem {
    display: flex;
    justify-content: center;
  }
  .imagem-sub-principal {
    width: 700px;
    height: 400px;
    margin-top: 150px;
    border-radius: 10px;
    margin-bottom: -8px;
  }

  .sobreMinhaJornada {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to right, rgb(1, 1, 17), rgb(2, 2, 66));
    padding: 40px;
  }

  .conteudo-titulo2 {
    font-size: 30px;
    font-family: "chivo";
    text-align: center;
    color: white;
    font-weight: normal;
  }

  .conteudo-apresentacao2 {
    min-width: 700px;
    font-size: 25px;
    line-height: 40px;
    font-family: "chivo";
    text-align: center;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }

  .habilidades {
    margin-top: 50px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .habilidade-frontend {
    margin-top: 100px;
    font-size: 60px;
    background-color: white;
    padding: 5px;
  }

  .linguagens {
    margin-top: 30px;
    text-align: center;
  }

  .conteudo-titulo3 {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    font-family: "chivo";
    margin-bottom: 50px;
    min-width: 600px;
  }

  .conteudo-apresentacao3 {
    text-align: center;
    font-size: 30px;
    font-family: "chivo";
    margin-top: 30px;
    margin-bottom: 40px;
    font-weight: normal;
  }

  .icone-tec {
    text-align: center;
    font-size: 50px;
  }

  .html-div {
    height: 250px;
    min-width: 500px;
    line-height: 30px;
    text-align: center;
  }
  .css-div {
    height: 250px;
    min-width: 500px;
    line-height: 30px;
    margin-bottom: 85px;
  }
  .javascript-div {
    margin-top: 20px;
    min-width: 500px;
    line-height: 30px;
    margin-bottom: 100px;
  }

  .footer-container {
    margin-top: 100px;
  }

  .adivinhe-img {
    width: 400px;
  }

  .previsao-img {
    width: 400px;
    border: 1px solid black;
  }

  .adivinhe-img:hover {
    opacity: 0.5;
    transition: 0.5s;
    cursor: pointer;
  }

  .previsao-img:hover {
    opacity: 0.5;
    transition: 0.5s;
    cursor: pointer;
  }

  .link-jogar:hover {
    color: rgb(30, 30, 202);
    cursor: pointer;
    text-decoration: underline;
  }

  .conteudo-titulo4 {
    font-size: 60px;
    text-align: center;
  }

  .finalizando {
    font-family: "chivo";
    font-size: 20px;
    margin-top: 20px;
    padding: 40px;
    margin-bottom: 50px;
  }
  .menu-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
  }

  .menu-btn_burger {
    width: 50px;
    height: 6px;
    background: black;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
  }

  .menu-btn_burger::before,
  .menu-btn_burger::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 6px;
    background: black;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
  }

  .menu-btn_burger::before {
    transform: translateY(-16px);
  }
  .menu-btn_burger::after {
    transform: translateY(16px);
  }

  /* animação */

  .menu-btn.open .menu-btn_burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
  }

  .menu-btn.open .menu-btn_burger::before {
    transform: rotate(45deg) translate(35px, -35px);
  }

  .menu-btn.open .menu-btn_burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }
  .sobreMim {
    border-bottom: 2px solid black;
  }

  .sobre {
    width: 230px;
  }
}

/* resolução 1025px */
@media (min-width: 1025px) {
  .icon-logo {
    font-size: 60px;
    padding: 15px;
    margin-left: 60px;
  }

  .icon-logo-aba-aberta {
    font-size: 80px;
    padding: 15px;
    margin-bottom: 50px;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .sobre {
    margin-top: 10px;
    display: flex;
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .sobreMim {
    margin-right: 18px;
    font-family: "chivo";
    font-size: 30px;
  }

  .sobreMim:hover {
    color: rgb(29, 29, 124);
    font-weight: bolder;
    transition: all 0.5s;
  }

  .botaoProjeto {
    padding: 10px;
    margin-right: 18px;
    border-radius: 6px;
    border: none;
    background-color: black;
    color: white;
    font-family: "chivo";
  }

  .botaoProjeto:hover {
    background-color: rgb(43, 41, 41);
    transition: 0.5s;
  }

  .hamburger,
  .escape {
    font-size: 50px;
    margin-right: 20px;
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .sobreMimProjetos1,
  .sobreMimProjetos2,
  .sobreMimBotaoEscape {
    display: none;
  }

  .esconder {
    display: none;
  }

  .aberturaConteudo {
    margin-top: 50px;
  }
  .conteudo-titulo {
    font-size: 40px;
    font-family: "chivo";
    text-align: center;
    font-weight: normal;
    margin-bottom: 30px;
  }

  .conteudo-apresentacao-div {
    display: flex;
    justify-content: center;
  }

  .conteudo-apresentacao {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-family: "chivo";
    font-weight: normal;
    text-align: center;
    min-width: 850px;
  }

  .imagem-principal {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
  .imagem-computador {
    margin-top: 50px;
    min-width: 200px;
    border-radius: 50px;
  }

  .segunda-imagem {
    display: flex;
    justify-content: center;
  }
  .imagem-sub-principal {
    min-width: 700px;
    height: 400px;
    margin-top: 150px;
    border-radius: 10px;
    margin-bottom: -8px;
  }

  .sobreMinhaJornada {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to right, rgb(1, 1, 17), rgb(2, 2, 66));
    padding: 40px;
  }

  .conteudo-titulo2 {
    font-size: 30px;
    font-family: "chivo";
    text-align: center;
    color: white;
    font-weight: normal;
  }

  .conteudo-apresentacao2 {
    min-width: 900px;
    font-size: 40px;
    line-height: 40px;
    font-family: "chivo";
    text-align: center;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }

  .habilidades {
    margin-top: 50px;
    padding: 20px;
    display: grid;
    gap: 10px;
    font-family: "chivo";
    grid-template-columns: repeat(2, 1fr);
  }

  .habilidade-frontend {
    font-size: 60px;
    text-align: center;

    padding: 5px;
  }

  .linguagens {
    margin-top: 30px;
  }

  .conteudo-titulo3 {
    text-align: center;
    font-size: 30px;
    font-family: "chivo";
    margin-bottom: 50px;
    min-width: 500px;
  }

  .conteudo-apresentacao3 {
    text-align: center;
    font-size: 30px;
    font-family: "chivo";
    margin-top: 30px;
    margin-bottom: 40px;
    font-weight: normal;
  }

  .icone-tec {
    text-align: center;
    font-size: 50px;
  }

  .html-div {
    height: 250px;
    min-width: 500px;
    line-height: 30px;
  }
  .css-div {
    height: 250px;
    min-width: 500px;
    line-height: 30px;
    margin-bottom: 90px;
  }
  .javascript-div {
    margin-top: 20px;
    min-width: 500px;
    line-height: 30px;
    margin-bottom: 100px;
  }

  .algunsProjetosLegais {
    display: grid;
    grid-template-columns: 2, 1fr;
  }

  .explicando-projeto {
    margin-top: 40px;
    margin-bottom: 40px;
    font-family: "chivo";
    font-size: 17px;
    min-width: 800px;
  }

  .projeto1 {
    display: grid;
    grid-template-columns: 2, 1fr;
  }

  .footer-container {
    margin-top: 100px;
  }

  .adivinhe-img {
    width: 400px;
  }

  .previsao-img {
    width: 400px;
    border: 1px solid black;
  }

  .adivinhe-img:hover {
    opacity: 0.5;
    transition: 0.5s;
    cursor: pointer;
  }

  .previsao-img:hover {
    opacity: 0.5;
    transition: 0.5s;
    cursor: pointer;
  }

  .link-jogar:hover {
    color: rgb(30, 30, 202);
    cursor: pointer;
    text-decoration: underline;
  }

  .conteudo-titulo4 {
    font-size: 60px;
    text-align: center;
  }

  .finalizando {
    font-family: "chivo";
    font-size: 20px;
    margin-top: 20px;
    padding: 40px;
    margin-bottom: 50px;
  }
  .menu-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
  }

  .menu-btn_burger {
    width: 50px;
    height: 6px;
    background: black;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
  }

  .menu-btn_burger::before,
  .menu-btn_burger::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 6px;
    background: black;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
  }

  .menu-btn_burger::before {
    transform: translateY(-16px);
  }
  .menu-btn_burger::after {
    transform: translateY(16px);
  }

  /* animação */

  .menu-btn.open .menu-btn_burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
  }

  .menu-btn.open .menu-btn_burger::before {
    transform: rotate(45deg) translate(35px, -35px);
  }

  .menu-btn.open .menu-btn_burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }
  .sobreMim {
    border-bottom: 2px solid black;
  }

  .sobre {
    width: 300px;
  }
}

@media (min-width: 1600px) {
  .icon-logo {
    font-size: 80px;
    padding: 15px;
    margin-left: 60px;
  }

  .icon-logo-aba-aberta {
    font-size: 80px;
    padding: 15px;
    margin-bottom: 50px;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .sobre {
    margin-top: 10px;
    display: flex;
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .sobreMim {
    margin-right: 18px;
    font-family: "chivo";
    font-size: 30px;
  }

  .sobreMim:hover {
    color: rgb(29, 29, 124);
    font-weight: bolder;
    transition: all 0.5s;
  }

  .botaoProjeto {
    padding: 10px;
    margin-right: 18px;
    border-radius: 6px;
    border: none;
    background-color: black;
    color: white;
    font-family: "chivo";
  }

  .botaoProjeto:hover {
    background-color: rgb(43, 41, 41);
    transition: 0.5s;
  }

  .hamburger,
  .escape {
    cursor: pointer;
    margin-bottom: 20px;
  }

  .sobreMimProjetos1,
  .sobreMimProjetos2,
  .sobreMimBotaoEscape {
    display: none;
  }

  .sobreMim {
    border-bottom: 2px solid black;
  }

  .sobre {
    width: 200px;
  }

  .esconder {
    display: none;
  }

  .aberturaConteudo {
    margin-top: 50px;
  }
  .conteudo-titulo {
    font-size: 40px;
    text-align: center;
    font-family: "chivo";
    font-weight: normal;
  }

  .conteudo-apresentacao-div {
    display: flex;
    justify-content: center;
  }

  .conteudo-apresentacao {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: "chivo";
    font-weight: normal;
    text-align: center;
    min-width: 900px;
  }

  .imagem-principal {
    display: flex;
    justify-content: center;
    margin-top: 80px;
  }
  .imagem-computador {
    margin-top: 50px;
    width: 400px;
    border-radius: 50px;
  }

  .segunda-imagem {
    display: flex;
    justify-content: center;
  }
  .imagem-sub-principal {
    width: 1500px;
    height: 700px;
    margin-top: 200px;
    border-radius: 20px;
    margin-bottom: -8px;
  }

  .sobreMinhaJornada {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to right, rgb(1, 1, 17), rgb(2, 2, 66));
    padding: 40px;
  }

  .conteudo-titulo2 {
    font-size: 30px;
    font-family: "chivo";
    font-weight: normal;
    text-align: center;
    color: white;
  }

  .conteudo-apresentacao2 {
    min-width: 1100px;
    font-size: 30px;
    line-height: 60px;
    font-family: "chivo";
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 500px;
  }

  .container .habilidade-frontend {
    font-size: 50px;
    margin-top: 200px;
    padding: 15px;
  }

  .habilidades {
    margin-top: 50px;
    padding: 20px;
    font-family: "chivo";
    font-weight: normal;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .conteudo-titulo3 {
    text-align: center;
    font-size: 30px;
    font-family: "chivo";
    min-width: 500px;
  }

  .conteudo-apresentacao3 {
    text-align: center;
    font-size: 30px;
    font-family: "chivo";
    font-weight: normal;
  }

  .icone-tec {
    text-align: center;
    font-size: 50px;
    padding: 15px;
    color: white;
    background-color: rgb(79, 78, 180);
  }

  .html-div {
    padding: 50px;
    color: white;
    background-color: rgb(79, 78, 180);
    max-width: 500px;
    line-height: 30px;
    height: 300px;
  }
  .css-div {
    max-width: 500px;
    line-height: 30px;
    padding: 50px;
    color: white;
    background-color: rgb(79, 78, 180);
    height: 420px;
  }
  .javascript-div {
    max-width: 500px;
    line-height: 30px;
    padding: 50px;
    color: white;
    background-color: rgb(79, 78, 180);
  }

  .algunsProjetosLegais {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
  }

  .explicando-projeto {
    margin-top: 30px;
    font-family: "chivo";
    font-size: 25px;
    justify-content: center;
    align-items: center;
    width: 200px;
  }

  .footer-container {
    margin-top: 100px;
  }

  .adivinhe-img {
    width: 400px;
  }

  .previsao-img {
    width: 400px;
    border: 1px solid black;
  }

  .adivinhe-img:hover {
    opacity: 0.5;
    transition: 0.5s;
    cursor: pointer;
  }

  .previsao-img:hover {
    opacity: 0.5;
    transition: 0.5s;
    cursor: pointer;
  }

  .link-jogar:hover {
    color: rgb(30, 30, 202);
    cursor: pointer;
    text-decoration: underline;
  }

  .conteudo-titulo4 {
    font-size: 60px;
    text-align: center;
  }

  .finalizando {
    font-family: "chivo";
    font-size: 20px;
    margin-top: 20px;
    padding: 40px;
    margin-bottom: 50px;
  }

  .menu-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
  }

  .menu-btn_burger {
    width: 50px;
    height: 6px;
    background: black;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
  }

  .menu-btn_burger::before,
  .menu-btn_burger::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 6px;
    background: black;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
  }

  .menu-btn_burger::before {
    transform: translateY(-16px);
  }
  .menu-btn_burger::after {
    transform: translateY(16px);
  }

  /* animação */

  .menu-btn.open .menu-btn_burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
  }

  .menu-btn.open .menu-btn_burger::before {
    transform: rotate(45deg) translate(35px, -35px);
  }

  .menu-btn.open .menu-btn_burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }
}
